## Data Extraction Methods

#### Extract Data using yfinance

In [40]:
# pip install yfinance

In [14]:
import yfinance as yf # This use API to extract data from yahoofinancials
# get ohlcv data for any ticker by period.
data1 = yf.download("MSFT", period='1mo', interval="5m")
# get ohlcv data for any ticker by start date and end date
data2 = yf.download("MSFT", start="2017-01-01", end="2020-04-24")
# get intraday data for any ticker by period.
data3 = yf.download("MSFT", period='1mo', interval="5m")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [12]:
data3.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-11-14 09:30:00-05:00,371.010010,371.679993,369.320007,370.165009,370.165009,1901916
2023-11-14 09:35:00-05:00,370.195007,370.869995,369.570007,370.309998,370.309998,595481
2023-11-14 09:40:00-05:00,370.379486,371.381195,369.640015,371.220001,371.220001,604089
2023-11-14 09:45:00-05:00,371.204987,371.450012,370.301788,370.301788,370.301788,430732
2023-11-14 09:50:00-05:00,370.380005,371.239990,370.350006,370.690002,370.690002,384981

Note: We can get intraday data for period of 60 days.

In [16]:
data = yf.download("MSFT", period='6mo', interval="5m")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['MSFT']: Exception('%ticker%: 5m data not available for startTime=1686489985 and endTime=1702560385. The requested range must be within the last 60 days.')

#### Getting Data for Multiple Stocks

In [20]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [21]:
## Indian stocks end with suffixs of .NS
stocks = ["AMZN", "MSFT", "INTC", "GOOG", "INFY.NS", "3988.HK"] ## For these tickers, we want data
start = dt.datetime.today()-dt.timedelta(30) ## Want to get 30 days back data from today
end = dt.datetime.today()
cl_price = pd.DataFrame() # Empty dataframe which will be filled with closing prices for all the stocks
## Looking over tickers and creating a datafram with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker, start, end)["Adj Close"]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [23]:
cl_price.head()

,AMZN,MSFT,INTC,GOOG,INFY.NS,3988.HK
Date,,,,,,
2023-11-15,143.199997,369.670013,40.610001,136.380005,1410.500000,2.88
2023-11-16,142.830002,376.170013,43.349998,138.699997,1444.900024,2.86
2023-11-17,145.179993,369.850006,43.810001,136.940002,1437.550049,2.83
2023-11-20,146.130005,377.440002,44.740002,137.919998,1436.599976,2.89
2023-11-21,143.899994,373.070007,43.639999,138.619995,1439.000000,2.89

In [29]:
## If we want to store entire dataframe
ohlcv_data={}
## Looking over tickers and creating a datafram with close prices
for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker, start, end)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

ohlcv_data["MSFT"].head()

#### yahoofinancials Libraries and Parsing JSON Data

It uses webscrapping
Link: https://github.com/JECSand/yahoofinancials
Pro: More Stable. Cons: Takes More Time
- It will not supports for fews commonds for financial analysis (New Version)

In [35]:
# pip install yahoofinancials

In [38]:
import yahoofinancials
from yahoofinancials import YahooFinancials

ticker = 'MSFT'
yahoo_financials = YahooFinancials(ticker)
data = yahoo_financials.get_historical_price_data("2018-04-24", "2020-04-24", "daily")
# We can't get intraday data, most granular data is daily

In [43]:
# data

#### yahoofinancials: Getting Data for Multiple Stocks

In [44]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","INTC"]

# extracting stock data (historical close price) for the stocks identified
close_prices = pd.DataFrame()
end_date = (dt.date.today()).strftime('%Y-%m-%d')
beg_date = (dt.date.today()-dt.timedelta(1825)).strftime('%Y-%m-%d')
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date,end_date,"daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date","adjclose"]]
    temp.set_index("formatted_date",inplace=True)
    temp.dropna(inplace=True)
    close_prices[ticker] = temp["adjclose"]

In [45]:
close_prices.head()

                     AAPL       MSFT       CSCO       AMZN       INTC
formatted_date
2018-12-17      39.337841  97.704056  37.980576  76.045502  41.060699
2018-12-18      39.848946  98.729622  37.860271  77.573997  41.636318
2018-12-19      38.605991  98.463737  37.069733  74.753998  39.743752
2018-12-20      37.631783  96.393600  36.511189  73.041496  39.717590
2018-12-21      36.168060  93.278946  35.961250  68.872498  39.107090

In [46]:
# extracting stock data (ohlcv) for the stocks identified
ohlv_dict = {}
end_date = (dt.date.today()).strftime('%Y-%m-%d')
beg_date = (dt.date.today()-dt.timedelta(1825)).strftime('%Y-%m-%d')
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date,end_date,"daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date","adjclose","open","low","high","volume"]]
    temp.set_index("formatted_date",inplace=True)
    temp.dropna(inplace=True)
    ohlv_dict[ticker] = temp

In [48]:
ohlv_dict['AAPL'].head()

                 adjclose       open        low       high     volume
formatted_date
2018-12-17      39.337841  41.362499  40.682499  42.087502  177151600
2018-12-18      39.848946  41.345001  41.097500  41.882500  135366000
2018-12-19      38.605991  41.500000  39.772499  41.862499  196189200
2018-12-20      37.631783  40.099998  38.825001  40.527500  259092000
2018-12-21      36.168060  39.215000  37.407501  39.540001  382978400

#### Alpha Vantage Python Library

Link1: https://www.alphavantage.co/
Link2: https://github.com/RomelTorres/alpha_vantage
Welcome to Alpha Vantage! Your dedicated access key is: ###########. Please record this API key at a safe place for future data access.

To get data from the API, simply import the library and call the object with your API key. Next, get ready for some awesome, free, realtime finance data. Your API key may also be stored in the environment variable ALPHAVANTAGE_API_KEY. 
API rate limit is 25 requests per day.

In [51]:
# pip install alpha_vantage

In [65]:
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint
import time
key_path = "D:\\Trading\\Data Extraction\\key.txt"
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
data, meta_data = ts.get_intraday(symbol='MSFT',interval='1min', outputsize='full')
pprint(data.head(2))

                     1. open  2. high  3. low  4. close  5. volume
date
2023-12-13 19:59:00   375.55   375.55   375.5    375.54      440.0
2023-12-13 19:58:00   375.50   375.55   375.5    375.55      653.0

In [66]:
# extracting data for a single ticker
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
data = ts.get_daily(symbol='MSFT', outputsize='full')[0]
data.columns = ["open","high","low","close","volume"]
data = data.iloc[::-1]

In [67]:
data.head()

             open   high    low  close      volume
date
1999-11-01  93.25  94.19  92.12  92.37  26630600.0
1999-11-02  92.75  94.50  91.94  92.56  23174500.0
1999-11-03  92.94  93.50  91.50  92.00  22258500.0
1999-11-04  92.31  92.75  90.31  91.75  27119700.0
1999-11-05  91.81  92.87  90.50  91.56  35083700.0

In [ ]:
# extracting stock data (historical close price) for multiple stocks
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
close_prices = pd.DataFrame()
api_call_count = 1
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    close_prices[ticker] = data["close"]
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [73]:
# extracting ohlcv data for multiple stocks
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
ohlv_dict = {}
api_call_count = 1
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    ohlv_dict[ticker] = data
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

ValueError: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.

#### API vs Webscrapping

Similarities || Differences

 Access: Both are useful for collecting data from the web || With web scraping, you can get data from any site APIs are limited to sites that expose data via API endpoints
 
 Data Extraction: Both come with some limitations || Web scraping can get you blocked because of anti-bot systems APIs may have some restrictions based on usage policies and your paid plan limitations

 Technical Knowledge: Both need technical knowledge for implementation and usage || Building a web scraper requires developing scripts with custom logic API integration is generally easy and supported by the vendor's documentation

 Cost: Both come with a cost Web scraping involves development and server hosting costs || APIs have a price per call or come with a fixed cost that depends on the plans offered by the site owner

#### Web Scrapping Of Financial Data

Link: https://www.freecodecamp.org/news/how-to-scrape-websites-with-python-and-beautifulsoup-5946935d93fe/

In [5]:
import requests
from bs4 import BeautifulSoup

income_statement = {}

url = "https://finance.yahoo.com/quote/AAPL/financials?p=AAPL"

headers = {"User-Agent" : "Chrome/120.0.6099.110"}
page = requests.get(url, headers=headers)
page_content = page.content
soup = BeautifulSoup(page_content,"html.parser")
tabl = soup.find_all("div" , {"class" : "M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)"})
for t in tabl:
    rows = t.find_all("div" , {"class": "D(tbr) fi-row Bgc($hoverBgColor):h"})
    for row in rows:
        income_statement[row.get_text(separator="|").split("|")[0]] = row.get_text(separator="|").split("|")[1]

In [6]:
income_statement

{'Total Revenue': '383,933,000',
 'Cost of Revenue': '217,117,000',
 'Gross Profit': '166,816,000',
 'Operating Expense': '54,590,000',
 'Operating Income': '112,226,000',
 'Net Non Operating Interest Income Expense': '-239,000',
 'Other Income Expense': '-592,000',
 'Pretax Income': '111,395,000',
 'Tax Provision': '16,635,000',
 'Net Income Common Stockholders': '94,760,000',
 'Diluted NI Available to Com Stockholders': '94,760,000',
 'Basic EPS': '5.98',
 'Diluted EPS': '5.96',
 'Basic Average Shares': '15,851,968',
 'Diluted Average Shares': '15,924,064',
 'Total Operating Income as Reported': '112,226,000',
 'Total Expenses': '271,707,000',
 'Net Income from Continuing & Discontinued Operation': '94,760,000',
 'Normalized Income': '94,760,000',
 'Interest Income': '3,519,000',
 'Interest Expense': '3,758,000',
 'Net Interest Income': '-239,000',
 'EBIT': '115,153,000',
 'EBITDA': '126,884,000',
 'Reconciled Cost of Revenue': '217,117,000',
 'Reconciled Depreciation': '11,731,000',
 'Net Income from Continuing Operation Net Minority Interest': '94,760,000',
 'Normalized EBITDA': '126,884,000',
 'Tax Rate for Calcs': '0',
 'Tax Effect of Unusual Items': '0'}

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

tickers = ["AAPL","FB","CSCO","INFY.NS","3988.HK"]
income_statatement_dict = {}
balance_sheet_dict = {}
cashflow_st_dict = {}

for ticker in tickers:
    #scraping income statement
    url = "https://finance.yahoo.com/quote/{}/financials?p={}".format(ticker,ticker)
    income_statement = {}
    table_title = {}
    
    headers = {"User-Agent" : "Chrome/120.0.6099.110"}
    page = requests.get(url, headers=headers)
    page_content = page.content
    soup = BeautifulSoup(page_content,"html.parser")
    tabl = soup.find_all("div" , {"class" : "M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)"})
    for t in tabl:
        heading = t.find_all("div" , {"class": "D(tbr) C($primaryColor)"})
        for top_row in heading:
            table_title[top_row.get_text(separator="|").split("|")[0]] = top_row.get_text(separator="|").split("|")[1:]
        rows = t.find_all("div" , {"class": "D(tbr) fi-row Bgc($hoverBgColor):h"})
        for row in rows:
            income_statement[row.get_text(separator="|").split("|")[0]] = row.get_text(separator="|").split("|")[1:]

    temp = pd.DataFrame(income_statement).T
    temp.columns = table_title["Breakdown"]
    income_statatement_dict[ticker] = temp
    
    #scraping balance sheet statement
    url = "https://finance.yahoo.com/quote/{}/balance-sheet?p={}".format(ticker,ticker)
    balance_sheet = {}
    table_title = {}
    
    headers = {"User-Agent" : "Chrome/120.0.6099.110"}
    page = requests.get(url, headers=headers)
    page_content = page.content
    soup = BeautifulSoup(page_content,"html.parser")
    tabl = soup.find_all("div" , {"class" : "M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)"})
    for t in tabl:
        heading = t.find_all("div" , {"class": "D(tbr) C($primaryColor)"})
        for top_row in heading:
            table_title[top_row.get_text(separator="|").split("|")[0]] = top_row.get_text(separator="|").split("|")[1:]
        rows = t.find_all("div" , {"class": "D(tbr) fi-row Bgc($hoverBgColor):h"})
        for row in rows:
            balance_sheet[row.get_text(separator="|").split("|")[0]] = row.get_text(separator="|").split("|")[1:]

    temp = pd.DataFrame(balance_sheet).T
    temp.columns = table_title["Breakdown"]
    balance_sheet_dict[ticker] = temp
    
    #scraping cashflow statement
    url = "https://finance.yahoo.com/quote/{}/cash-flow?p={}".format(ticker,ticker)
    cashflow_statement = {}
    table_title = {}
    
    headers = {"User-Agent" : "Chrome/120.0.6099.110"}
    page = requests.get(url, headers=headers)
    page_content = page.content
    soup = BeautifulSoup(page_content,"html.parser")
    tabl = soup.find_all("div" , {"class" : "M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)"})
    for t in tabl:
        heading = t.find_all("div" , {"class": "D(tbr) C($primaryColor)"})
        for top_row in heading:
            table_title[top_row.get_text(separator="|").split("|")[0]] = top_row.get_text(separator="|").split("|")[1:]
        rows = t.find_all("div" , {"class": "D(tbr) fi-row Bgc($hoverBgColor):h"})
        for row in rows:
            cashflow_statement[row.get_text(separator="|").split("|")[0]] = row.get_text(separator="|").split("|")[1:]

    temp = pd.DataFrame(cashflow_statement).T
    temp.columns = table_title["Breakdown"]
    cashflow_st_dict[ticker] = temp
    
#converting dataframe values to numeric
for ticker in tickers:
    for col in income_statatement_dict[ticker].columns:
        income_statatement_dict[ticker][col] = income_statatement_dict[ticker][col].str.replace(',|- ','')
        income_statatement_dict[ticker][col] = pd.to_numeric(income_statatement_dict[ticker][col], errors = 'coerce')
        cashflow_st_dict[ticker][col] = cashflow_st_dict[ticker][col].str.replace(',|- ','')
        cashflow_st_dict[ticker][col] = pd.to_numeric(cashflow_st_dict[ticker][col], errors = 'coerce') 
        if col!="ttm": #yahoo has ttm column for income statement and cashflow statement only
            balance_sheet_dict[ticker][col] = balance_sheet_dict[ticker][col].str.replace(',|- ','')
            balance_sheet_dict[ticker][col] = pd.to_numeric(balance_sheet_dict[ticker][col], errors = 'coerce')

C:\Users\abhis\AppData\Local\Temp\ipykernel_3728\737730242.py:80: FutureWarning: The default value of regex will change from True to False in a future version.
  income_statatement_dict[ticker][col] = income_statatement_dict[ticker][col].str.replace(',|- ','')
C:\Users\abhis\AppData\Local\Temp\ipykernel_3728\737730242.py:82: FutureWarning: The default value of regex will change from True to False in a future version.
  cashflow_st_dict[ticker][col] = cashflow_st_dict[ticker][col].str.replace(',|- ','')
C:\Users\abhis\AppData\Local\Temp\ipykernel_3728\737730242.py:85: FutureWarning: The default value of regex will change from True to False in a future version.
  balance_sheet_dict[ticker][col] = balance_sheet_dict[ticker][col].str.replace(',|- ','')

In [9]:
income_statatement_dict['CSCO']

,ttm,7/31/2023,7/31/2022,7/31/2021,7/31/2020
Total Revenue,58034000.00,56998000.00,51557000.00,49818000.00,49301000.00
Cost of Revenue,21070000.00,21245000.00,19309000.00,17924000.00,17618000.00
Gross Profit,36964000.00,35753000.00,32248000.00,31894000.00,31683000.00
Operating Expense,20541000.00,20191000.00,18273000.00,18175000.00,17582000.00
Operating Income,16423000.00,15562000.00,13975000.00,13719000.00,14101000.00
Net Non Operating Interest Income Expense,715000.00,535000.00,116000.00,184000.00,335000.00
Other Income Expense,-853000.00,-779000.00,386000.00,-641000.00,-466000.00
Pretax Income,16285000.00,15318000.00,14477000.00,13262000.00,13970000.00
Tax Provision,2704000.00,2705000.00,2665000.00,2671000.00,2756000.00
Net Income Common Stockholders,13581000.00,12613000.00,11812000.00,10591000.00,11214000.00
Diluted NI Available to Com Stockholders,13581000.00,12613000.00,11812000.00,10591000.00,11214000.00
Basic EPS,3.08,3.08,2.83,2.51,2.65
Diluted EPS,3.07,3.07,2.82,2.50,2.64
Basic Average Shares,4093000.00,4093000.00,4170000.00,4222000.00,4236000.00
Diluted Average Shares,4105000.00,4105000.00,4192000.00,4236000.00,4254000.00
Total Operating Income as Reported,15767000.00,15031000.00,13969000.00,12833000.00,13620000.00
Total Expenses,41611000.00,41436000.00,37582000.00,36099000.00,35200000.00
Net Income from Continuing & Discontinued Operation,13581000.00,12613000.00,11812000.00,10591000.00,11214000.00
Normalized Income,14176446.00,13050013.00,11816896.00,11298914.00,11600243.00
Interest Income,1153000.00,962000.00,476000.00,618000.00,920000.00
Interest Expense,438000.00,427000.00,360000.00,434000.00,585000.00
Net Interest Income,715000.00,535000.00,116000.00,184000.00,335000.00
EBIT,16723000.00,15745000.00,14837000.00,13696000.00,14555000.00
EBITDA,18435000.00,17471000.00,16794000.00,15558000.00,16363000.00
Reconciled Cost of Revenue,19636000.00,19801000.00,17665000.00,16277000.00,15951000.00
Reconciled Depreciation,1712000.00,1726000.00,1957000.00,1862000.00,1808000.00
Net Income from Continuing Operation Net Minority Interest,13581000.00,12613000.00,11812000.00,10591000.00,11214000.00
Total Unusual Items Excluding Goodwill,-714000.00,-531000.00,-6000.00,-886000.00,-481000.00
Total Unusual Items,-714000.00,-531000.00,-6000.00,-886000.00,-481000.00
Normalized EBITDA,19149000.00,18002000.00,16800000.00,16444000.00,16844000.00
Tax Rate for Calcs,0.00,0.00,0.00,0.00,0.00
Tax Effect of Unusual Items,-118554.00,-93987.00,-1104.00,-178086.00,-94757.00